body
{
    font-family: 'Inter';
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    text-overflow: clip;
    overflow-y: scroll;
    
    background: linear-gradient(270deg, #761f90, #541010, #15135d);
    background-size: 600% 600%;

    animation: AnimationName 8s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.container
{
    display: block;
    max-width: 490px;
    margin: auto;
}

.header
{
    display: block;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 8px;
}

li
{
    border-radius: 40px;
    max-width: 200px;
    display: inline-block;
}


a
{
    color: #000;
    padding-left: 5em;
    padding-right: 5em;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#menu
{
    font-size: 13px;
    font-weight: 600;
    list-style: none;
    margin: auto;
    padding-left: 0;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}


.main
{
    display: block;
    margin-top: 15px;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 20px;
}

.main h1
{
    margin: 0;
    font-size: 25px;
}

.table
{
    margin-top: 20px;
    display: grid;
    padding: 10px;
    background-color: #46e28c;
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.element
{
    display: flex;
    padding: 13px;
    background-color: #b9ffb0;
    color: #242424;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 10px;
}

@keyframes pulse 
{
    0% {
      background-color: #b4ffa4; /* Начальный цвет фона */
    }
    50% {
      background-color: #ffb3b3; /* Промежуточный цвет фона */
    }
    100% {
      background-color: #b4ffa4; /* Конечный цвет фона */
    }
}  

#sp
{
    animation: pulse 4s infinite ease;
}

.head
{
    align-self: center;
    font-weight: 690;
    font-size: 13px;
}
.variant
{
    padding-bottom: 5px;
    font-weight: 800;
}
.name
{
    font-size: 15px;
    font-weight: 450;
}



@media (max-width: 460px)
{
    #menu
    {
        font-size: 10px;
    }    
    .main h1
    {
        font-size: 20px;
    }
}
@media (max-width: 340px)
{   
    .table {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    a
    {
        color: #000;
        padding-left: 2em;
        padding-right: 2em;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
    }
}




.d
{
    background: rgb(220, 182, 255);
    transition: background 0.2s ease;
}
.d:hover
{
    background: rgb(190, 121, 255);
}
